.container{
    display: flex; 
    justify-content: center; 
    width: 100%;
}



.innerCircle{
    background-image: linear-gradient(to right, #A9A9A9, #A0A0A0, #909090, #808080, #707070, #606060); 
    height: 79px; 
    width: 79px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    margin: 22px auto; 
}

.k{
    font-family: Karla; 
    margin-top: 22%; 
    color: white; 
    font-size: 35px; 
}

.outerCircle{
        height: 125px;
        width: 125px;
        border: 2.5px solid #bbb9b9;  
        border-radius: 50%;
        float: left; 
}

.headerDiv {
    font-size: 29px;
    font-family: karla; 
    color: gray; 
    width: 54%;
}

.headerContainer{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    width: 80vw; 
}

.questions{
    font-family: karla; 
    color: gray; 
    width: 100%; 
    font-size: 20px; 
}

.container2{
    display: flex;
    justify-content: center;
    width: 100vw;   
}

.questions:hover { 
    background-color: lightblue; 
}

    
    
    

